@font-face {
    font-weight: normal;
    font-family: 'OpenSans';
    font-style: normal;
    src: url('./fonts/OpenSans-Regular.eot');
    src: url('./fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Regular.woff2') format('woff2'), url('./fonts/OpenSans-Regular.woff') format('woff'), url('./fonts/OpenSans-Regular.ttf') format('truetype'), url('./fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg')
}

@font-face {
    font-weight: normal;
    font-family: 'OpenSansBold';
    font-style: normal;
    src: url('./fonts/OpenSans-Bold.eot');
    src: url('./fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Bold.woff2') format('woff2'), url('./fonts/OpenSans-Bold.woff') format('woff'), url('./fonts/OpenSans-Bold.ttf') format('truetype'), url('./fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg')
}

@font-face {
    font-weight: normal;
    font-family: 'OpenSansSemiBold';
    font-style: normal;
    src: url('./fonts/OpenSans-Semibold.eot');
    src: url('./fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Semibold.woff2') format('woff2'), url('./fonts/OpenSans-Semibold.woff') format('woff'), url('./fonts/OpenSans-Semibold.ttf') format('truetype'), url('./fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg')
}

@font-face {
    font-weight: normal;
    font-family: 'OpenSansLight';
    font-style: normal;
    src: url('./fonts/OpenSans-Light.eot');
    src: url('./fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/OpenSans-Light.woff2') format('woff2'), url('./fonts/OpenSans-Light.woff') format('woff'), url('./fonts/OpenSans-Light.ttf') format('truetype'), url('./fonts/OpenSans-Light.svg#OpenSans-Light') format('svg')
}


body {
    margin: 0;
    color: #2a3136;
    font-size: 12px;
    font-family: OpenSans;
    line-height: 18px;
    background-color: #cdcdcd;
    user-select: none;
}

body, html {
    height: 100%;
    overflow: hidden
}


.header-line {
    z-index: 10;
    background: #2a3136;
    padding: 8px;
}
.main-menu-button {
    margin-left: 10px;
}
.main-menu {
    min-width: unset!important;
    left: 1px!important;
    right: unset!important;
}
.action-menu {
    min-width: unset!important;
    left: 1px!important;
    right: unset!important;
}
.svg-icon-general-clear-style {
    position: absolute;
    right: 15px;
    top: 35px;
    font-size: 8px;
    color: #aaa;
    background: white;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
   
::-webkit-scrollbar-thumb {
    background: #878787; 
    border-radius: 15px;
    border: 4px solid transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-height: 44px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #b3b2b4
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.sort-arrow {
    display: inline-block;
    font-weight: normal;
    font-family: 'CircuitSVG';
    font-style: normal;
    text-decoration: none;

    color: #525459;
    width: 12px;
    font-size: 6px;
    line-height: 18px;

    display: inline-flex;
    justify-content: center;
}

.sort-arrow-ascending::before {
    content: '\f16a';
}

.sort-arrow-descending::before {
    content: '\f169';
}

.activity {
	animation: spin 2s linear infinite; 
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.alert {
	position : fixed;
	top : 0px;
	left: 0px;
	z-index : 20;
	width: 100%;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-footer {
    text-align: right;
}

.glyphicon {
    color: #777;
    padding-left: 7px;
}

.data-refresh-overlay {
    font-size: 25px;
}

/* switch */
.toggle-switch input[type="checkbox"] {
    display: none;
}
.toggle-switch {
  padding-top: 8px;
}
.toggle-switch .switch-item:hover {
    border: 1px solid #b3b2b4;
}
.toggle-switch .switch-item {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 30px;
    margin-bottom: -2px;
    border-radius: 8px;
    background: #dadada;
    border: 1px solid #dadada;
}
.toggle-switch input:checked+.switch-item>span {
    left: 14px;
}
.toggle-switch .switch-item>span {
    position: absolute;
    left: -1px;
    top: -3px;
    display: block;
    background: #fff;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    border: 1px solid #dadada;
    -webkit-transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -ms-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition: all .1s ease-in 0s;
}
.toggle-switch input:checked+.switch-item:after {
    width: 30px;
}
.toggle-switch .switch-item:after {
    content: "";
    display: block;
    width: 0;
    height: 13px;
    background: #88c541;
    border-radius: 6px;
    -webkit-transition: width .1s ease-in 0s;
    -moz-transition: width .1s ease-in 0s;
    -ms-transition: width .1s ease-in 0s;
    -o-transition: width .1s ease-in 0s;
    transition: width .1s ease-in 0s;
}
.toggle-switch>span {
    margin-left: 20px;
    font-family: OpenSansSemiBold;
    line-height: 20px;
    color: #2a3136;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    vertical-align: top;
}
/* switch end */

.ui-control-group {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.ui-control-label {
    font-weight: bold;
}

.ui-control {
    margin-top: 5px!important;
}

.ui-control-input-100 {
    border: 1px solid #dadada!important;
    width: 100%;
}

.ui-control-input-50 {
    border: 1px solid #dadada!important;
    width: 50%;
}

.ui-control-input-30 {
    border: 1px solid #dadada!important;
    width: 30%;
}

.ui-control-hint {
    font-size: 12px;
}

.description-hint {
    text-align: justify;
    padding-top: 10px;
}

.description-hint-important {
    text-align: justify;
    color: red;
    padding-top: 10px;
}

.modal-body {
    color: #666;
    overflow: hidden;
}

.error-text-color {	color: red; font-weight: 800 }
.wait-text-color  {	color: yellow; }
.ok-text-color    { color: #3f3;   }

.settings-text-label {
    font-size: 13px;
    font-family: OpenSansSemiBold,sans-serif;
    line-height: 19px;
    color: #515056;
}

.progress-bar-success {
    background-color: #88c541;
    font-size: 16px!important;
    padding-top: 4px;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding-right: 17px;
    cursor: default;
    resize: none;
    box-sizing: border-box;
    flex: 1 1 0px;
    height: 100%;
    overflow-x: overlay;
    overflow-y: overlay;
}









.data-table-wrapper {
    width: fit-content;
    z-index: 1;
    position: relative;
}

.data-table {
    border-collapse: collapse;
}

.gantt-table-wrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
    z-index: 0;
}

.fixed-col {
    position: relative;
    display: inline-block;
    left: 0;
    top: auto;
    overflow: hidden;
}

.moving-col {
    display: inline-block;
}

.row {
    white-space: nowrap;
}

.cell {
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
}

.cell-center {
    text-align: center;
}

.gantt-cell {
    display: inline-block;
    position: relative;
    text-align: center;
    min-width: 15px;
    max-width: 15px;
    border-right: 1px solid lightgrey;
}

.gantt-bar-active {
    background-color: #8c8;
    fill: #8c8;
    border-right: 1px solid #8c8;
}

.gantt-bar-header {
    background-color: #9b9b9b;
    fill: #9b9b9b;
    border-right: 1px solid #9b9b9b;
}

.group-bounding-box {
    background-color: #c9c9c9;
    fill: #c9c9c9;
    border-right: 1px solid #c9c9c9;
    opacity: 0.6;
}

.gantt-cell-start {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.gantt-cell-end {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gantt-col-header-weekend {
    fill: #ece;
    stroke-width: 0;
    opacity: 0.7;
}

.gantt-col-weekend {
    fill: #ece;
    stroke-width: 0;
    opacity: 0.75;
    pointer-events: none;
}

.gantt-col-header-today {
    fill: #ff3737;
    stroke-width: 0;
    opacity: 0.7;
}

.gantt-col-today {
    fill: #ff3737;
    stroke-width: 0;
    opacity: 0.75;
    pointer-events: none;
}

.gantt-calendar-date-cell {
    display: inline-block;
    text-align: center;
    min-width: 15px;
    max-width: 15px;
    border-right: 1px solid #b8b8b8;
}

.gantt-calendar-month-cell {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.gantt-calendar-year-cell {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #666;
}

.gantt-row {
    padding: 0;
}

.month-end {
    border-right: 1px solid #999;
}

.column-selector:hover {
    background-color: #666;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.text-readonly {
    text-overflow: ellipsis;
}

.gantt-calendar-cell {
    font-family: OpenSans;
    font-size: 12px;
    fill: #2a3136
}

.gantt-line-highlighted {
    fill: white!important
}
/*
.gantt-line:hover {
    fill: white
}
*/
.data-line-highlighted {
    background: white!important;
}

.gantt-line-header {
    fill:#cdcdcd
}

.gantt-line-header-border {
    stroke-width: 0;
    fill: #b8b8b8;
}

.data-line-even, .gantt-line-even {
    fill: #f0f0f0;
    background: #f0f0f0;
}

.data-line-odd, .gantt-line-odd {
    fill: #e8e8e8;
    background: #e8e8e8;
}

.gantt-line-border {
    stroke-width: 0px;
    fill: lightgray;
    pointer-events: none;
}

.table-area {
    overflow: scroll;
    display: flex;
}

.header-area {
    background-color: #444;
    color: white;
    padding: 10px;
    font-size: 16px;
    display: flex;
}

.gantt-table-scrollbar-wrapper {
    position: absolute;
    bottom: 0px;
    overflow-x: scroll;
}

.gantt-table-wrapper::-webkit-scrollbar {
    width: 14px;
    height: 0px;
}

.gantt-table-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}
   
.gantt-table-wrapper::-webkit-scrollbar-thumb {
    background: green; 
    border-radius: 15px;
    border: 4px solid transparent;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-height: 0px;
}
  
/* Handle on hover */
.gantt-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #b3b2b4
}

.gantt-table-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
}

.context-menu {
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: white;
    visibility: hidden;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px #888;
    cursor: pointer;
    padding: 10px;
}

.context-menu-option-line {
    padding: 5px;
    text-align: left;
}

.context-menu-option-line:hover {
    background-color: rgb(235, 235, 235);
}

.context-menu-option-text {
    margin: 5px 10px;
    vertical-align: top;
}

#donate-button {
    font-size: 12px;
    margin-left: auto;
    background: rgb(150, 79, 216);
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
}

#donate-button:hover {
    background: #a86ddf;
}

#project-name {
    padding: 3px;
}

.task-group {
    font-weight: bold;
}

.arrow-rotate-left-90 {
    animation: arrow-rot 0.2s forwards;
}

.arrow-derotate {
    animation: arrow-derot 0.2s forwards;
}

@keyframes arrow-rot {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-90deg); }
}

@keyframes arrow-derot {
    from { transform: rotate(-90deg); }
    to   { transform: rotate(0deg); }
}